In [5]:
import pandas as pd
import numpy as np
import glob

In [19]:
#path = r'/Users/niels/Google Drive/DDB 2020-2021/Period 2/5. AI for Business/practise_repo_ai_module/data/raw/smartmeter' # use your path
#all_files = glob.glob(path + "/*.csv")

#li = []

#for filename in all_files:
#    df = pd.read_csv(filename, index_col=None, header=0)
#    li.append(df)

#frame = pd.concat(li, axis=0, ignore_index=True)

In [25]:
data = pd.read_csv('/Users/niels/Google Drive/DDB 2020-2021/Period 2/5. AI for Business/practise_repo_ai_module/data/raw/smartmeter/block_0.csv')

In [26]:
data

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000002,2012-10-12,0.1385,0.154304,0.886,46,0.196034,7.098,0.000
1,MAC000002,2012-10-13,0.1800,0.230979,0.933,48,0.192329,11.087,0.076
2,MAC000002,2012-10-14,0.1580,0.275479,1.085,48,0.274647,13.223,0.070
3,MAC000002,2012-10-15,0.1310,0.213688,1.164,48,0.224483,10.257,0.070
4,MAC000002,2012-10-16,0.1450,0.203521,0.991,48,0.184115,9.769,0.087
...,...,...,...,...,...,...,...,...,...
25569,MAC005492,2014-02-24,0.1690,0.175042,0.378,48,0.073174,8.402,0.079
25570,MAC005492,2014-02-25,0.1550,0.160792,0.545,48,0.082118,7.718,0.079
25571,MAC005492,2014-02-26,0.1490,0.178542,0.687,48,0.120820,8.570,0.079
25572,MAC005492,2014-02-27,0.1140,0.146167,0.478,48,0.082616,7.016,0.079
25573,MAC005492,2014-02-28,0.0880,0.088000,0.088,1,NaN,0.088,0.088